.App{max-width: 960px;
margin: 0 auto;
padding: 30px 0 100px;}

body {background-image: 
    linear-gradient(rgba(119, 114, 115, 0.2), rgba(153, 147, 148, 0.2)), 
    url(./book.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "poppins";
    
  }
  

a{color:#FF007F;
text-decoration: none;}

.App-header{margin: 30px 0;}

.app-logo{height: 300px;
  width: 90%;
display: block;
margin: 0 auto;
padding: 10px 0;}

.app-footer{ text-align: center;
margin: 30px 0; 
color:white;}